@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

table,
th,
td {
    font-family: "Poppins", sans-serif;
}

.success-status-btn,
.danger-status-btn,
.grey-status-btn,
.blue-status-btn {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: 0;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    
    padding: 5px 15px;

}

.success-status-btn {
    background-color: #008448;
    color: #FFFFFF;
}

.danger-status-btn {
    background-color: #CC0000;
    color: #FFFFFF;
}

.grey-status-btn {
    background-color: #E0E0E0;
    color: #000000;
}

.blue-status-btn {
    background-color: #2196F3;
    color: #FFFFFF;

}



.success-action-btn,
.red-action-btn,
.black-action-btn {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    border-radius: 8px;
    padding: 3px 12px;
    color: #FFFFFF;
    border: none;
}

.success-action-btn{
    background-color: #008448;
}

.red-action-btn {
    background-color: #CC0000;
}
.black-action-btn {
    background-color: #000000;
}



.unlock-column-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font: "Poppins" sans-serif;
}

.table>:not(caption)>*>* {
    padding: 0.8rem 1.5rem !important;
}

.table-title {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 30px;
}

.unlock-column-table th,
.custom-table-locked th {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    color: #000000;
}


.unlock-column-table td,
.custom-table-locked td {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: black;
}

.custom-table-locked {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 1500px;
}

.table-responsive {
    overflow-x: auto;
    max-width: 1300px;
}

.dashboard-stats .col-md-2 {
    width: 18.5%;
}

.dashboard-stats .col-md-3 {
    width: 22%;
}